div.absolute {
    position: absolute;
    left: 100px; 
    right: 200px;
}

/* Header Attributes */
header {
    background-color: #ebebeb;
    color: gray;
    text-align: center;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 20px;
    width: 960px;
    height: 100px;
    line-height: 65px;
}
/* Website Background Color */
body {
    background-color: gray;
}
/* Nav Box Attributes */
#p01 {
    background-color: #ebebeb;
    color: gray;
    text-align: center;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 35px;
    margin: 20px;
    width: 960px;
    height: 100px;
    line-height: 90px;
    display: inline-block;
}


/* Section Attributes */
#p02 {
    background-color: #ebebeb;
    color: gray;
    text-align: center;
    padding: 40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 5px;
    font-size: 35px;
    float: left;
    width: 400px;
    height: 250px;
    position: relative;
    left: 15px;
}



/* Aside Attributes */
#p03 {
    background-color: #ebebeb;
    color: gray;
    text-align: center;
    font-size: 35px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 40px;
    margin: 5px;
    width: 400px;
    height: 250px;
    float: right;
    position: absolute;
    left: 523px;
}
/* Footer Attributes */
#p04 {
    background-color: #ebebeb;
    color: gray;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 35px;
    line-height: 100px;
    padding: 31px;
    margin: 20px;
    width: 925px;
    height: 100px;
    clear: both;
}

/* Article Attributes */
#d01 {
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 35px;
    width: 270px;
    height: 46px;
    padding: 89px;
    margin: 8px;
    position: absolute;
    top: 408px;
    left: 28px;
    z-index: 1;
}

#p05 {
    position: absolute;
    top: -18px;
    left: 171px;  
}

#h1 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    line-height: 35px;
    background-color: white;
    color: gray;
    width: 350px;
    height: 40px;
    position: absolute;
    top: 491px;
    left: 86px;
    z-index: 1;
}

#p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    line-height: 34px;
    background-color: white;
    color: gray;
    width: 350px;
    height: 40px;
    position: absolute;
    top: 552px;
    left: 86px;
    z-index: 1;
}